.form {
  &-group {
    margin: 1.2rem 0;
  }
  &-text {
    display: block;
    margin-top: 0.3rem;
    color: rgb(196, 181, 181);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid rgb(10, 10, 10);
    background-color: $dark-color;
    color: $light-color;
    border-radius: 3px;
  }
  input[type="submit"] {
    font: inherit;
  }

  [placeholder]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.85);
  }
  [placeholder]:hover::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  [placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
  }

  .social-input {
    display: flex;

    i {
      padding: 0.5rem;
      width: 4rem;

      &.fa-twitter {
        color: #38a1f3;
      }
      &.fa-facebook {
        color: #3b5998;
      }
      &.fa-instagram {
        color: #3f729b;
      }
      &.fa-youtube {
        color: #db312b;
      }
      &.fa-linkedin {
        color: #026092;
      }
    }
  }
}
